* {
  margin: 0;
  paddin: 0;
  box-sizing: border-box;
  font-family: 'Arial';
}

.page {
  display: flex;
  flex-wrap: wrap;
  margin: 2%;
}

h1 {
  font-size: 24px;
  font-family: 'Arial';
}

@media only screen and (min-width: 961px) {
  .page {
    width: 960px;
    margin: 0 auto;
  }
}