* {
  margin: 0;
  paddin: 0;
  font-family: 'Lato';
}

.page {
  display: flex;
  flex-wrap: wrap;
  margin: 2%;
}

h1 {
  margin-top: 10px;
  font-size: 24px;
}

@media only screen and (min-width: 961px) {
  .page {
   width: 600px;
   margin: 0 auto;
  }
}