.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 20%;
  background: transparent;
}

.modal-main {
  position: fixed;
  background: transparent;
  width: auto;
  height: auto;
}

.centered {
  position: fixed;
  top: 55%;
  left: 42.5%;
}

.btnExpand {
  color: #FF6347;
  display: flex;
  margin: 8px 8px;
  padding: 12px 18px;
  display: inline-block;
  background: transparent;
  border: 1px solid #FF6347;
  border-radius: 2px;
  text-align: center;
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}

.btnExpand:hover {
  background-color: #FF6347;
  color: white;
 }